* {
    box-sizing: border-box;
}

/* --- Header --- */

header {
    color: grey;
    height: 60px;
}

header h1 {
    font-size: 30px;
    height: 90px;
    float: left;
    padding-left: 30px;

}

header nav li {
    font-size: 15px;
    padding-top: 15px;
    display: inline-block;
    padding: 5px;

}

header ul:first-child {
    padding-left: 1100px;
} 

a:link {
    text-decoration: none;
}

/* --- Main --- */

main {
    clear: both;
    width: 98.5%;
    margin: 10px;
    border-style: ridge;
    height: 500px;

}


 td, th {
    text-align: center;
}

th {
    padding: 30px;
}

.card tr {
    margin-top: 30px;
}

main header > h1 {
    text-align: center;
    float: none;
    font-size: 25px;
    height: 30px;
    border: 3px solid;
    color: white;
    background-color: purple;
}

legend {
    display:none
}

#items, #quantity {
    display: block;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
}

#items {
    padding-right: 80px;
}


.deck.cos-2 {
    margin-top: 15px;
}

ol li {
    padding-left: 15px;
}

section form label {
    padding-left: 15px;
}

input {
    margin-left: 100px;
    margin-bottom: 15px;
}


/* --- Footer --- */

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    border-top: 1px black solid;
    width: 100%;
    text-align: center;
    height: 30px;
}